.title {
  font-size: clamp(3.4rem, 5vw, 5vw);
}
.title-small {
  font-size: clamp(2rem, 2vw, 2vw);
}
.h5 {
  line-height: 1.5;
}
.position-absolute {
  top: 20%;
  opacity: 0.2;
  rotate: -45deg;
  left: 10%;
  // }
  // .dark-home {
  //   background: #212529;
  //   border-color: #2b2a2a !important;
  //   button {
  //     font-weight: 600 !important;
  //   }
  // }
  // .light-home {
  //   background: beige 40%;
  //   color: brown;
  //   border-color: brown !important;
  //   button {
  //     font-weight: 600 !important;
  //     color: brown !important;
  //   }
}
.dark-btn-login {
  transition: 1s;
  background-color: black;
  &:hover {
    transition: 1s;
    background-color: #353739 !important;
  }
}
.dark-btn-signup {
  flex-grow: 1;
  transition: 0.5s;
  background-color: #dc3545 !important;
  -webkit-text-fill-color: #353739 !important;
  &:hover {
    transition: 0.5s;
    background-color: #a71f2d !important;
  }
}
.light-btn-login {
  transition: 1s;
  &:hover {
    transition: 1s;
    background-color: brown !important;
    -webkit-text-fill-color: beige !important;
  }
}
.light-btn-signup {
  transition: 0.5s;
  background-color: rgb(76, 180, 76) !important;
  -webkit-text-fill-color: brown !important;
  &:hover {
    transition: 0.5s;
    background-color: rgb(26, 131, 26) !important;
  }
}

@media screen and (max-width: '586px') {
  .title,
  .title-small {
    width: 100% !important;
  }
  .d-flex {
    flex-direction: column !important;
  }
}

.dark-home-card {
  background: #474849;
  &:hover {
    .fw-bold {
      transition: 1s;
      scale: 1.2;
    }
    scale: 0.98;
  }
  .fw-bold {
    transition: 1s;
  }
  transition: 1s;
}
.light-home-card {
  background: rgb(236, 236, 217);
  &:hover {
    .fw-bold {
      transition: 1s;
      scale: 1.2;
    }
    scale: 0.98;
  }
  .fw-bold {
    transition: 1s;
  }
  transition: 1s;
}
canvas {
  width: 100%;
  margin: auto;
  height: 334px;
}

.scale-animation {
  animation: scale-anim 1s ease-in-out;
  transform-origin: center;
}

@keyframes scale-anim {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
