<div class="py-5 mt-5 bg-white">
  <div class="row p-5 cloud position-relative py-5 mt-5">
    <div class="background position-absolute top-0 start-0 h-100 w-100"></div>
    <div class="col-12 text-center pt-5 z-5">
      <h1 class="title text-uppercase fw-bold scale-animation">Don't wish it, do it.</h1>
    </div>
    <div class="col-12 p-0 scale-animation z-5">
      <h1 class="title-small m-auto">
        The most practical tool to manage your success.
      </h1>
    </div>
    <div class="col-md-12 py-5 d-flex justify-content-center scale-animation z-5">
      <div class="d-flex gap-4 justify-content-center align-items-stretch p-3">
        <form [formGroup]="homeForm" (ngSubmit)="checkPermission()">
          <div class="border rounded p-1 bg-white d-flex gap-1">
            <input
              type="email"
              formControlName="email"
              class="form-control border-0 fs-4"
              placeholder="planning@email.com"
            /><button
              class="btn btn-lg fs-4 px-4"
              pTooltip="<- Fill this"
              tooltipPosition="left"
              type="submit"
              [ngClass]="isDark ? 'dark-btn-signup' : 'light-btn-signup'"
            >
              Signup
            </button>
          </div>
        </form>
        <button
          class="btn btn-lg px-5 py-2 fs-4 overflow-hidden text-white"
          [ngClass]="isDark ? ['dark-btn-login'] : 'light-btn-login'"
          routerLink="/login"
        >
          Login
        </button>
      </div>
    </div>
  </div>
  <div class="p-5"></div>
  <div class="my-5 py-5"></div>
  <div class="py-3"></div>
  <!-- <div class="col-md-6 py-5 mt-5">
    <canvas #pencil class="my-5"></canvas>
  </div>
  <div class="col-md-6 py-5 d-flex align-items-center mt-5">
    <h1 class="text-uppercase fw-bold title">Write it down, like at your desk</h1>
  </div> -->
</div>
