.title {
  font-size: 3.7rem;
}
.title-small {
  font-size: 2rem;
  max-width: 700px;
}

@media screen and (max-width: 863px) {
  .title-small {
    max-width: 500px;
  }
}

.h5 {
  line-height: 1.5;
}
.position-absolute {
  top: 20%;
  opacity: 0.2;
  rotate: -45deg;
  left: 10%;
  // }
  // .dark-home {
  //   background: #212529;
  //   border-color: #2b2a2a !important;
  //   button {
  //     font-weight: 600 !important;
  //   }
  // }
  // .light-home {
  //   background: beige 40%;
  //   color: brown;
  //   border-color: brown !important;
  //   button {
  //     font-weight: 600 !important;
  //     color: brown !important;
  //   }
}
.dark-btn-login {
  transition: 0.2s;
  background-color: black;
  &:hover {
    transition: 0.2s;
    background-color: rgba(71, 72, 73, 0.6) !important;
  }
}
.dark-btn-signup {
  transition: 0.2s;
  background-color: #dc3545 !important;
  -webkit-text-fill-color: #353739 !important;
  &:hover {
    transition: 0.2s;
    color:black!important;
    background-color: #a71f2d !important;
  }
}
.light-btn-login {
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    background-color: rgb(165, 42, 42,.2) !important;
    -webkit-text-fill-color: white !important;
  }
}
.light-btn-signup {
  transition: 0.5s;
  background-color: rgb(76, 180, 76) !important;
  -webkit-text-fill-color: brown !important;
  &:hover {
    transition: 0.5s;
    background-color: rgb(26, 131, 26) !important;
  }
}

@media screen and (max-width: '586px') {
  .title,
  .title-small {
    width: 100% !important;
  }
  .d-flex {
    flex-direction: column !important;
  }
  .dark-btn-signup,
  .light-btn-signup {
    overflow: hidden;
  }
}

.dark-home-card {
  background: rgba(71, 72, 73, 0.2);
  &:hover {
    background: rgba(71, 72, 73, 0.6);
    transition: 0.4s;
  }
  .fw-bold {
    transition: 0.4s;
  }
  transition: 0.4s;
}
.light-home-card {
  background: rgb(236, 236, 217, 0.2);
  &:hover {
    transition: 0.4s;
    background: rgb(236, 236, 217, 0.6);
  }
  .fw-bold {
    transition: 0.4s;
  }
  transition: 0.4s;
}
canvas {
  width: 100%;
  margin: auto;
  height: 334px;
}

.scale-animation {
  animation: scale-anim 0.6s cubic-bezier(.22,.61,.36,1);
  transform-origin: center;
}

@keyframes scale-anim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.background {
  background-image: url('/assets/utils/cloud.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  opacity: 0.08;
  rotate: 0deg;
  z-index: 0 !important;
  animation: opacity-back 0.6s cubic-bezier(.22,.61,.36,1);
  transform-origin: center;
}
@keyframes opacity-back {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
.z-5 {
  z-index: 1000 !important;
}
// @media screen and (max-width: '586px') {
//   .title,
//   .title-small {
//     width: 100% !important;
//   }
//   .d-flex {
//     flex-direction: column !important;
//   }
// }
