.choosed-border {
  border: 3px solid gold;
  box-shadow: 1px 1px 5px 5px gold !important;
}
.border-0 {
  outline: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  background: white; /* Firefox */
  color: black!important;
}
