<div class="row text-start fs-3 pt-5" [ngClass]="isDark ? '' : 'light-signup'">
  @if (section != 'access-code' && !showSpinner) {
    <div class="stepper w-75 m-auto">
      <div class="stepper-bar p-1 w-100 d-flex">
        <div
          class="bg-success p-2 rounded-start"
          [ngStyle]="{ width: step == 1 ? '0' : step == 2 ? '33%' : step == 3 ? '66%' : '' }"
        ></div>
        <div
          class="{{ isDark ? '' : 'bg-opacity-10' }} bg-secondary p-2 rounded-end"
          [ngStyle]="{ width: step == 1 ? '100%' : step == 2 ? '67%' : step == 3 ? '34%' : '' }"
        ></div>
      </div>
    </div>
    @if (step == 1) {
      <form [formGroup]="signupForm" class="row w-75 m-auto d-flex align-items-stretch">
        <div class="col-12 text-center py-5">
          <p class="title fw-bold">Join us <i class="pi pi-user-plus fs-1"></i></p>
          <p class="fs-2 fw-bold">And start planning your dreams.</p>
        </div>
        <div class="col-md-6">
          <div
            class="section row border border-secondary p-5 rounded shadow m-1"
            [ngClass]="isDark ? 'section-dark' : 'light-bg-section'"
          >
            <div class="col-md-12 py-1 pt-5">
              <h1 class="text-secondary text-uppercase">
                Signup datas
                <i
                  class="pi pi-lock fs-3"
                  [ngClass]="
                    signupForm.controls['email'].valid &&
                    signupForm.controls['password'].valid &&
                    signupForm.controls['ripetiPassword'].valid &&
                    signupForm.controls['password'].value ==
                      signupForm.controls['ripetiPassword'].value
                      ? 'text-success'
                      : 'text-danger'
                  "
                ></i>
              </h1>
            </div>
            <div class="col-md-12">
              <label for="email" class="py-2 fw-bold">Email*</label>
              <input
                formControlName="email"
                placeholder="Type your email"
                type="email"
                class="form-control"
              />
              @if (
                signupForm.controls['email'].touched &&
                signupForm.controls['email'].hasError('pattern')
              ) {
                <p class="text-danger">Inserisci una email valida</p>
              } @else if (
                signupForm.controls['email'].touched &&
                signupForm.controls['email'].hasError('required')
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['email'].valid &&
                signupForm.controls['password'].valid &&
                signupForm.controls['ripetiPassword'].valid &&
                signupForm.controls['password'].value == signupForm.controls['ripetiPassword'].value
              ) {
                <p class="text-success">Campo valido</p>
              }
            </div>
            <div class="col-lg-12">
              <label for="password" class="py-2 fw-bold">Password*</label>
              <input
                formControlName="password"
                placeholder="Inserisci la password"
                class="form-control"
                type="password"
              />
              @if (
                signupForm.controls['password'].touched &&
                signupForm.controls['password'].hasError('pattern')
              ) {
                <p class="text-danger">
                  Inserisci una password valida (1 maiuscola, 1 simobolo fra @$!%*?&, 1 numero, 1
                  minuscola e minimo 8 caratteri)
                </p>
              } @else if (
                signupForm.controls['password'].touched &&
                signupForm.controls['password'].hasError('required')
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['password'].valid &&
                signupForm.controls['password'].value == signupForm.controls['ripetiPassword'].value
              ) {
                <p class="text-success">Le password combaciano</p>
              }
            </div>
            <div class="col-lg-12">
              <label for="password" class="py-2 fw-bold">Password*</label>
              <input
                formControlName="ripetiPassword"
                placeholder="Ripeti la password"
                class="form-control"
                type="password"
              />
              @if (
                signupForm.controls['ripetiPassword'].touched &&
                signupForm.controls['ripetiPassword'].hasError('pattern')
              ) {
                <p class="text-danger">
                  Inserisci una password valida (1 maiuscola, 1 simobolo fra @$!%*?&, 1 numero, 1
                  minuscola e minimo 8 caratteri)
                </p>
              } @else if (
                signupForm.controls['ripetiPassword'].touched &&
                signupForm.controls['ripetiPassword'].hasError('required')
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['password'].valid &&
                signupForm.controls['password'].value != signupForm.controls['ripetiPassword'].value
              ) {
                <p class="text-danger">La password non combacia</p>
              } @else if (
                signupForm.controls['password'].valid &&
                signupForm.controls['password'].value == signupForm.controls['ripetiPassword'].value
              ) {
                <p class="text-success">Le password combaciano</p>
              }
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="section row border border-secondary p-5 rounded shadow m-1"
            [ngClass]="isDark ? 'section-dark' : 'light-bg-section'"
          >
            <div class="col-md-12 py-1 pt-5">
              <h1 class="text-secondary text-uppercase">
                General datas
                <i
                  class="pi pi-id-card fs-3"
                  [ngClass]="
                    signupForm.controls['ragioneSociale'].valid &&
                    signupForm.controls['partitaIva'].valid &&
                    signupForm.controls['formaGiuridica'].valid
                      ? 'text-success'
                      : 'text-danger'
                  "
                ></i>
              </h1>
            </div>
            <div class="col-lg-12">
              <label for="ragioneSociale" class="py-2 fw-bold">Rag. sociale*</label>
              <input
                type="text"
                formControlName="ragioneSociale"
                placeholder="Inserisci la ragione sociale"
                class="form-control"
              />
              @if (
                signupForm.controls['ragioneSociale'].touched &&
                signupForm.controls['ragioneSociale'].invalid
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['ragioneSociale'].valid &&
                signupForm.controls['partitaIva'].valid &&
                signupForm.controls['formaGiuridica'].valid
              ) {
                <p class="text-success">Campo valido</p>
              }
            </div>
            <div class="col-lg-12">
              <label for="partitaIva" class="py-2 fw-bold">Partita Iva*</label>
              <input
                type="text"
                formControlName="partitaIva"
                placeholder="Inserisci la partita iva"
                class="form-control"
              />
              @if (
                signupForm.controls['partitaIva'].touched &&
                signupForm.controls['partitaIva'].hasError('required')
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['partitaIva'].touched &&
                signupForm.controls['partitaIva'].hasError('pattern')
              ) {
                <p class="text-danger">Inserisci una partita iva valida</p>
              } @else if (
                signupForm.controls['ragioneSociale'].valid &&
                signupForm.controls['partitaIva'].valid &&
                signupForm.controls['formaGiuridica'].valid
              ) {
                <p class="text-success">Campo valido</p>
              }
            </div>
            <div class="col-md-12">
              <label for="formaGiuridica" class="py-2 fw-bold"> Forma giuridica*</label>
              <select formControlName="formaGiuridica" class="form-select">
                <option value="" class="text-muted" disabled>Scegli la forma giuridica</option>
                @for (item of forme; track $index) {
                  <option value="{{ item.id }}">{{ item.name }}</option>
                } @empty {
                  <option value=""></option>
                }
              </select>
              @if (
                signupForm.controls['formaGiuridica'].touched &&
                signupForm.controls['formaGiuridica'].invalid
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['ragioneSociale'].valid &&
                signupForm.controls['partitaIva'].valid &&
                signupForm.controls['formaGiuridica'].valid
              ) {
                <p class="text-success">Campo valido</p>
              }
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div
            class="section row border border-secondary p-5 rounded shadow m-1 my-4"
            [ngClass]="isDark ? 'section-dark' : 'light-bg-section'"
          >
            <div formGroupName="indirizzo" class="row p-0 m-0">
              <div class="col-md-12 py-1 pt-5">
                <h1 class="text-secondary text-uppercase">
                  Address
                  <i
                    class="fs-3 pi pi-map-marker"
                    [ngClass]="
                      signupForm.controls['indirizzo'].valid &&
                      signupForm.controls['settore'].valid &&
                      signupForm.controls['dimensioniAzienda'].valid
                        ? 'text-success'
                        : 'text-danger'
                    "
                  ></i>
                </h1>
              </div>
              <div class="col-md-12">
                <label for="nazione" class="py-2 fw-bold"> Paese di registrazione*</label>
                <select
                  formControlName="nazione"
                  class="form-select"
                  (change)="
                    onChangeNations(
                      signupForm.controls['indirizzo'].get('nazione')?.value,
                      'indirizzo'
                    )
                  "
                >
                  <option value="" class="text-muted" disabled>Scegli il paese</option>
                  @for (item of nazioni; track $index) {
                    <option value="{{ item.id }}">{{ item.name }}</option>
                  } @empty {
                    <option value=""></option>
                  }
                </select>
                @if (
                  signupForm.controls['indirizzo'].get('nazione')?.touched &&
                  signupForm.controls['indirizzo'].get('nazione')?.invalid
                ) {
                  <p class="text-danger">Campo obbligatorio</p>
                } @else if (
                  signupForm.controls['indirizzo'].valid &&
                  signupForm.controls['settore'].valid &&
                  signupForm.controls['dimensioniAzienda'].valid
                ) {
                  <p class="text-success">Campo valido</p>
                }
              </div>
              <div class="col-md-4">
                <label for="regione" class="py-2 fw-bold">Regione*</label>
                <select
                  formControlName="regione"
                  class="form-select"
                  (change)="
                    onChangeRegions(
                      signupForm.controls['indirizzo'].get('regione')?.value,
                      'indirizzo'
                    )
                  "
                >
                  <option value="" class="text-muted" disabled>Scegli la regione</option>

                  @for (item of regioni; track $index) {
                    <option value="{{ item.id }}">{{ item.name }}</option>
                  } @empty {
                    <option value=""></option>
                  }
                </select>
                @if (
                  signupForm.controls['indirizzo'].get('regione')?.touched &&
                  signupForm.controls['indirizzo'].get('regione')?.invalid
                ) {
                  <p class="text-danger">Campo obbligatorio</p>
                } @else if (
                  signupForm.controls['indirizzo'].valid &&
                  signupForm.controls['settore'].valid &&
                  signupForm.controls['dimensioniAzienda'].valid
                ) {
                  <p class="text-success">Campo valido</p>
                }
              </div>
              <div class="col-md-4">
                <label for="citta" class="py-2 fw-bold">Città*</label>
                <select
                  formControlName="citta"
                  class="form-select"
                  (change)="
                    onChangeCitta(signupForm.controls['indirizzo'].get('citta')?.value, 'indirizzo')
                  "
                >
                  <option value="" class="text-muted" disabled>Scegli la città</option>
                  @for (item of citta; track $index) {
                    <option value="{{ item.id }}">{{ item.name }}</option>
                  } @empty {
                    <option value=""></option>
                  }
                </select>
                @if (
                  signupForm.controls['indirizzo'].get('citta')?.touched &&
                  signupForm.controls['indirizzo'].get('citta')?.invalid
                ) {
                  <p class="text-danger">Campo obbligatorio</p>
                } @else if (
                  signupForm.controls['indirizzo'].valid &&
                  signupForm.controls['settore'].valid &&
                  signupForm.controls['dimensioniAzienda'].valid
                ) {
                  <p class="text-success">Campo valido</p>
                }
              </div>
              <div class="col-md-4">
                <label for="cap" class="py-2 fw-bold">Cap*</label>
                <select formControlName="cap" class="form-select">
                  <option value="" class="text-muted" disabled>Scegli il cap</option>
                  @for (item of cap; track $index) {
                    <option value="{{ item.id }}">{{ item.name }}</option>
                  } @empty {
                    <option value=""></option>
                  }
                </select>
                @if (
                  signupForm.controls['indirizzo'].get('cap')?.touched &&
                  signupForm.controls['indirizzo'].get('cap')?.invalid
                ) {
                  <p class="text-danger">Campo obbligatorio</p>
                } @else if (
                  signupForm.controls['indirizzo'].valid &&
                  signupForm.controls['settore'].valid &&
                  signupForm.controls['dimensioniAzienda'].valid
                ) {
                  <p class="text-success">Campo valido</p>
                }
              </div>
              <div class="col-6">
                <label for="via" class="py-2 fw-bold">Via*</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Inserisci la via"
                  formControlName="via"
                />
                @if (
                  signupForm.controls['indirizzo'].get('via')?.touched &&
                  signupForm.controls['indirizzo'].get('via')?.invalid
                ) {
                  <p class="text-danger">Campo obbligatorio</p>
                } @else if (
                  signupForm.controls['indirizzo'].valid &&
                  signupForm.controls['settore'].valid &&
                  signupForm.controls['dimensioniAzienda'].valid
                ) {
                  <p class="text-success">Campo valido</p>
                }
              </div>
              <div class="col-6">
                <label for="numeroCivico" class="py-2 fw-bold">Numero civico*</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Inserisci il numero civico"
                  formControlName="numeroCivico"
                />
                @if (
                  signupForm.controls['indirizzo'].get('numeroCivico')?.touched &&
                  signupForm.controls['indirizzo'].get('numeroCivico')?.invalid
                ) {
                  <p class="text-danger">Campo obbligatorio</p>
                } @else if (
                  signupForm.controls['indirizzo'].valid &&
                  signupForm.controls['settore'].valid &&
                  signupForm.controls['dimensioniAzienda'].valid
                ) {
                  <p class="text-success">Campo valido</p>
                }
              </div>
            </div>
            <div class="col-md-8">
              <label for="settore" class="py-2 fw-bold">Settore*</label>
              <select formControlName="settore" class="form-select">
                <option value="" class="text-muted" disabled>Scegli il settore</option>
                @for (item of settori; track $index) {
                  <option value="{{ item.id }}">{{ item.name }}</option>
                } @empty {
                  <option value=""></option>
                }
              </select>
              @if (
                signupForm.controls['settore'].touched && signupForm.controls['settore'].invalid
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['indirizzo'].valid &&
                signupForm.controls['settore'].valid &&
                signupForm.controls['dimensioniAzienda'].valid
              ) {
                <p class="text-success">Campo valido</p>
              }
            </div>
            <div class="col-md-4">
              <label for="dimensioniAzienda" class="py-2 fw-bold">Dimensioni*</label>
              <select formControlName="dimensioniAzienda" class="form-select">
                <option value="" class="text-muted" disabled>Scegli le dimensioni</option>
                @for (item of dimensioni; track $index) {
                  <option value="{{ item.id }}">{{ item.label }}</option>
                } @empty {
                  <option value=""></option>
                }
              </select>
              @if (
                signupForm.controls['dimensioniAzienda'].touched &&
                signupForm.controls['dimensioniAzienda'].invalid
              ) {
                <p class="text-danger">Campo obbligatorio</p>
              } @else if (
                signupForm.controls['indirizzo'].valid &&
                signupForm.controls['settore'].valid &&
                signupForm.controls['dimensioniAzienda'].valid
              ) {
                <p class="text-success">Campo valido</p>
              }
            </div>
            <div class="col-md-12 py-4">
              <div class="form-check">
                <input
                  type="checkbox"
                  id="settore"
                  formControlName="differentWorkStation"
                  class="form-check-input mt-3 border border-black"
                  (change)="updateSedeOperativa()"
                />
                <label for="settore" class="pb-2 pt-1 fw-bold"
                  >Sede operativa diversa dalla sede legale</label
                >
              </div>
            </div>
            @if (signupForm.controls['differentWorkStation'].value) {
              <div formGroupName="sedeOperativa" class="row p-0 m-0">
                <div class="col-md-12 pt-5 py-1">
                  <h1 class="text-secondary">
                    Sede operativa
                    <i
                      class="pi pi-building fs-2"
                      [ngClass]="
                        signupForm.controls['sedeOperativa'].valid ? 'text-success' : 'text-danger'
                      "
                    ></i>
                  </h1>
                </div>
                <div class="col-md-12">
                  <label for="nazione" class="py-2 fw-bold"> Paese di registrazione*</label>
                  <select
                    formControlName="nazione"
                    class="form-select"
                    (change)="
                      onChangeNations(
                        signupForm.controls['sedeOperativa'].get('nazione')?.value,
                        'sede'
                      )
                    "
                  >
                    @for (item of nazioniSede; track $index) {
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    } @empty {
                      <option value=""></option>
                    }
                  </select>
                  @if (
                    signupForm.controls['sedeOperativa'].get('nazione')?.touched &&
                    signupForm.controls['sedeOperativa'].get('nazione')?.invalid
                  ) {
                    <p class="text-danger">Campo obbligatorio</p>
                  } @else if (signupForm.controls['sedeOperativa'].valid) {
                    <p class="text-success">Campo valido</p>
                  }
                </div>
                <div class="col-md-4">
                  <label for="regione" class="py-2 fw-bold">Regione*</label>
                  <select
                    formControlName="regione"
                    class="form-select"
                    (change)="
                      onChangeRegions(
                        signupForm.controls['sedeOperativa'].get('regione')?.value,
                        'sede'
                      )
                    "
                  >
                    @for (item of regioniSede; track $index) {
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    } @empty {
                      <option value=""></option>
                    }
                  </select>
                  @if (
                    signupForm.controls['sedeOperativa'].get('regione')?.touched &&
                    signupForm.controls['sedeOperativa'].get('regione')?.invalid
                  ) {
                    <p class="text-danger">Campo obbligatorio</p>
                  } @else if (signupForm.controls['sedeOperativa'].valid) {
                    <p class="text-success">Campo valido</p>
                  }
                </div>
                <div class="col-md-4">
                  <label for="citta" class="py-2 fw-bold">Città*</label>
                  <select
                    formControlName="citta"
                    class="form-select"
                    (change)="
                      onChangeCitta(
                        signupForm.controls['sedeOperativa'].get('citta')?.value,
                        'sede'
                      )
                    "
                  >
                    @for (item of cittaSede; track $index) {
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    } @empty {
                      <option value=""></option>
                    }
                  </select>
                  @if (
                    signupForm.controls['sedeOperativa'].get('citta')?.touched &&
                    signupForm.controls['sedeOperativa'].get('citta')?.invalid
                  ) {
                    <p class="text-danger">Campo obbligatorio</p>
                  } @else if (signupForm.controls['sedeOperativa'].valid) {
                    <p class="text-success">Campo valido</p>
                  }
                </div>
                <div class="col-md-4">
                  <label for="cap" class="py-2 fw-bold">Cap*</label>
                  <select formControlName="cap" class="form-select">
                    @for (item of capSede; track $index) {
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    } @empty {
                      <option value=""></option>
                    }
                  </select>
                  @if (
                    signupForm.controls['sedeOperativa'].get('cap')?.touched &&
                    signupForm.controls['sedeOperativa'].get('cap')?.invalid
                  ) {
                    <p class="text-danger">Campo obbligatorio</p>
                  } @else if (signupForm.controls['sedeOperativa'].valid) {
                    <p class="text-success">Campo valido</p>
                  }
                </div>
                <div class="col-6">
                  <label for="via" class="py-2 fw-bold">Via*</label>
                  <input type="text" class="form-control" formControlName="via" />
                  @if (
                    signupForm.controls['sedeOperativa'].get('via')?.touched &&
                    signupForm.controls['sedeOperativa'].get('via')?.invalid
                  ) {
                    <p class="text-danger">Campo obbligatorio</p>
                  } @else if (signupForm.controls['sedeOperativa'].valid) {
                    <p class="text-success">Campo valido</p>
                  }
                </div>
                <div class="col-6">
                  <label for="numeroCivico" class="py-2 fw-bold">Numero civico*</label>
                  <input type="number" class="form-control" formControlName="numeroCivico" />
                  @if (
                    signupForm.controls['sedeOperativa'].get('numeroCivico')?.touched &&
                    signupForm.controls['sedeOperativa'].get('numeroCivico')?.invalid
                  ) {
                    <p class="text-danger">Campo obbligatorio</p>
                  } @else if (signupForm.controls['sedeOperativa'].valid) {
                    <p class="text-success">Campo valido</p>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </form>
    } @else if (step == 2) {
      <div class="col-12 text-center d-flex justify-content-center align-items-center py-5">
        <p class="title fw-bold">Choose a plan</p>
        <i class="pi pi-book fs-1"></i>
      </div>
      @for (item of piani; track $index) {
        <div class="d-flex flex-column justify-content-center my-5">
          <div
            class="card w-75 m-auto m-2 shadow-sm"
            [ngClass]="item == choosedPlan ? 'choosed-border' : ''"
            [ngClass]="isDark ? 'dark-card' : 'light-card'"
          >
            <div
              class="card-header fw-bolder d-flex justify-content-between align-items-center"
              [ngClass]="
                item.titolo == 'FREE PLAN'
                  ? 'text-success'
                  : item.titolo == 'MEDIUM PLAN'
                    ? 'text-info'
                    : item.titolo == 'GOLDEN PLAN'
                      ? 'text-warning'
                      : 'text-danger'
              "
            >
              <span>{{ item.titolo }}</span>
              <span>{{
                item.titolo == 'FREE PLAN'
                  ? '💸'
                  : item.titolo == 'MEDIUM PLAN'
                    ? '🌊'
                    : item.titolo == 'GOLDEN PLAN'
                      ? '🪙'
                      : '🔥'
              }}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{ item.prezzo | currency: 'EUR' }}
                <span class="fs-6">{{
                  item.titolo == 'FREE PLAN' ? '(No credit card required)' : ''
                }}</span>
              </h5>
              <p class="card-text">
                {{ item.description }}
              </p>
              <button
                (click)="choosedPlan = item; chosedDays = choosedPlan.id != 1 ? '30' : null"
                class="btn w-100 p-2 fs-5"
                [ngClass]="
                  item.titolo == 'FREE PLAN'
                    ? 'btn-success'
                    : item.titolo == 'MEDIUM PLAN'
                      ? 'btn-info'
                      : item.titolo == 'GOLDEN PLAN'
                        ? 'btn-warning'
                        : 'btn-danger'
                "
              >
                Choose plan
              </button>
            </div>
          </div>
          @if (choosedPlan == item && item.id != 1) {
            <div class="my-3 w-75 m-auto">
              <label for="" class="my-2"
                >Select days of Subscription:
                @if (!chosedDays) {
                  <i class="pi pi-exclamation-triangle fs-3"></i>
                } @else {
                  <i class="pi pi-check text-success fs-3"></i>
                }
              </label>
              <select class="form-select" (change)="chosedDays = days.value" #days>
                @for (item of sbDays; track $index) {
                  <option value="{{ item }}">{{ item }}</option>
                }
              </select>
            </div>
          }
        </div>
      }
    } @else if (step == 3) {
      <div class="row w-75 m-auto">
        <div class="col-12 text-center py-5">
          <p class="title fw-bold">Summary & payment <i class="pi pi-credit-card fs-1"></i></p>
        </div>
        <div [ngClass]="isDark ? 'dark-card' : 'light-card'" class="my-3">
          <div class="w-100 pt-5 p-1 card-header shadow border-start border-top border-end rounded-top">
            <h2 class="p-0 m-0 fw-bold text-uppercase">
              General datas <i class="pi pi-server fs-2"></i>
            </h2>
          </div>
          <div class="card-body shadow row w-100 m-auto rounded-bottom border border-top-0 p-1">
            <div class="col-md-6">
              <label class="py-2 fw-bold"> Ragione sociale</label>
              <p>{{ signupForm.controls['ragioneSociale'].value }}</p>
            </div>
            <div class="col-md-6">
              <label class="py-2 fw-bold">Partita Iva</label>
              <p>{{ signupForm.controls['partitaIva'].value }}</p>
            </div>
            <div class="col-md-12">
              <label class="py-2 fw-bold"> Forma giuridica</label>
              <p>{{ getForma(signupForm.controls['formaGiuridica'].value) }}</p>
            </div>
          </div>
        </div>

        <div [ngClass]="isDark ? 'dark-card' : 'light-card'" class="my-3">
          <div class="w-100 pt-5 p-1 card-header shadow border-start border-top border-end rounded-top">
            <h2 class="fw-bold text-uppercase">
              Indirizzo <i class="pi pi-address-book fs-2"></i>
            </h2>
          </div>
          <div class="card-body row w-100 m-auto rounded-bottom border border-top-0 p-1 shadow">
            <div class="col-md-12">
              <label class="py-2 fw-bold"> Paese di registrazione</label>
              <p>{{ getNation(signupForm.controls['indirizzo'].get('nazione')?.value) }}</p>
            </div>
            <div class="col-md-4">
              <label class="py-2 fw-bold">Regione</label>
              <p>{{ getRegion(signupForm.controls['indirizzo'].get('regione')?.value) }}</p>
            </div>
            <div class="col-md-4">
              <label class="py-2 fw-bold">Città</label>
              <p>{{ getCitta(signupForm.controls['indirizzo'].get('citta')?.value) }}</p>
            </div>
            <div class="col-md-4">
              <label class="py-2 fw-bold">Cap</label>
              <p>{{ getCap(signupForm.controls['indirizzo'].get('cap')?.value) }}</p>
            </div>
            <div class="col-7">
              <label class="py-2 fw-bold">Via</label>
              <p>{{ signupForm.controls['indirizzo'].get('via')?.value }}</p>
            </div>
            <div class="col-5">
              <label class="py-2 fw-bold">Numero civico</label>
              <p>{{ signupForm.controls['indirizzo'].get('numeroCivico')?.value }}</p>
            </div>
            <div class="col-md-8">
              <label class="py-2 fw-bold">Settore</label>
              <p>{{ getSettore(signupForm.controls['settore'].value) }}</p>
            </div>
            <div class="col-md-4">
              <label class="py-2 fw-bold">Dimensioni</label>
              <p>{{ getDimensione(signupForm.controls['dimensioniAzienda'].value) }}</p>
            </div>
            @if (signupForm.controls['differentWorkStation'].value) {
              <div class="col-md-12 pt-5 py-1">
                <h2>Sede operativa</h2>
              </div>
              <div class="col-md-12">
                <label class="py-2 fw-bold"> Paese di registrazione</label>
                <p>
                  {{ getNation(signupForm.controls['sedeOperativa'].get('nazione')?.value, true) }}
                </p>
              </div>
              <div class="col-md-4">
                <label class="py-2 fw-bold">Regione</label>
                <p>
                  {{ getRegion(signupForm.controls['sedeOperativa'].get('regione')?.value, true) }}
                </p>
              </div>
              <div class="col-md-4">
                <label class="py-2 fw-bold">Città</label>
                <p>
                  {{ getCitta(signupForm.controls['sedeOperativa'].get('citta')?.value, true) }}
                </p>
              </div>
              <div class="col-md-4">
                <label class="py-2 fw-bold">Cap</label>
                <p>{{ getCap(signupForm.controls['sedeOperativa'].get('cap')?.value, true) }}</p>
              </div>
              <div class="col-7">
                <label class="py-2 fw-bold">Via</label>
                <p>{{ signupForm.controls['sedeOperativa'].get('via')?.value }}</p>
              </div>
              <div class="col-5">
                <label class="py-2 fw-bold">Numero civico</label>
                <p>{{ signupForm.controls['sedeOperativa'].get('numeroCivico')?.value }}</p>
              </div>
            }
          </div>
        </div>
        <div [ngClass]="isDark ? 'dark-card' : 'light-card'" class="my-3">
          <div class="w-100 pt-5 p-1 card-header shadow border-start border-top border-end rounded-top">
            <h2 class="fw-bold text-uppercase">Login infos <i class="pi pi-sign-in fs-2"></i></h2>
          </div>
          <div class="row card-body shadow w-100 m-auto rounded-bottom border border-top-0">
            <div class="col-md-6">
              <label class="py-2 fw-bold">Email</label>
              <p>{{ signupForm.controls['email'].value }}</p>
            </div>
            <div class="col-md-6">
              <label class="py-2 fw-bold">Password</label>
              <p>{{ signupForm.controls['password'].value }}</p>
            </div>
          </div>
        </div>
        <div class="row py-5" [ngClass]="isDark ? 'dark-card' : 'light-card'" class="my-3">
          <div class="card w-75 m-auto my-2 choosed-border">
            <div
              class="card-header fw-bolder"
              [ngClass]="
                choosedPlan!.titolo == 'FREE PLAN'
                  ? 'text-success'
                  : choosedPlan!.titolo == 'MEDIUM PLAN'
                    ? 'text-info'
                    : choosedPlan!.titolo == 'GOLDEN PLAN'
                      ? 'text-warning'
                      : 'text-danger'
              "
            >
              {{ choosedPlan!.titolo }}
              {{
                choosedPlan!.titolo == 'FREE PLAN'
                  ? '💸'
                  : choosedPlan!.titolo == 'MEDIUM PLAN'
                    ? '🌊'
                    : choosedPlan!.titolo == 'GOLDEN PLAN'
                      ? '🪙'
                      : '🔥'
              }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ choosedPlan!.prezzo | currency: 'EUR' }}</h5>
              <p class="card-text">
                {{ choosedPlan!.description }}
              </p>
            </div>
          </div>
          <div class="my-4 w-75 m-auto fw-bold">Choosed days : {{ chosedDays }}</div>
        </div>
        <div [ngClass]="isDark ? 'dark-card' : 'light-card'">
          <div class="border rounded w-75 m-auto p-2 row my-5 card-body shadow">
            <div class="col-12">
              <p class="h5"><i class="pi pi-lock"></i> Your payment is secure</p>
              <form [formGroup]="paymentForm" class="py-2 row">
                <div class="col-12">
                  <label for="cardNumber" class="py-2">Card number</label>
                  <input
                    type="tel"
                    formControlName="cardNumber"
                    class="form-control"
                    placeholder="0000 0000 0000 0000"
                    maxlength="19"
                    (input)="adeguateCardNumberValue($event)"
                  />
                  <p class="text-danger pt-1">
                    @if (
                      paymentForm.controls['cardNumber'].hasError('required') &&
                      paymentForm.controls['cardNumber'].touched
                    ) {
                      Il campo è richiesto.
                    } @else if (
                      paymentForm.controls['cardNumber'].hasError('pattern') &&
                      paymentForm.controls['cardNumber'].dirty
                    ) {
                      Inserire un formato numerico tipo 1111 1111 1111 1111
                    } @else if (
                      paymentForm.controls['cardNumber'].hasError('minlength') &&
                      paymentForm.controls['cardNumber'].dirty
                    ) {
                      Lunghezza minima 16 caratteri
                    } @else if (
                      paymentForm.controls['cardNumber'].hasError('maxlength') &&
                      paymentForm.controls['cardNumber'].dirty
                    ) {
                      Lunghezza massima 16 caratteri
                    } @else if (paymentForm.controls['cardNumber'].dirty) {
                      <p class="text-success">Campo corretto</p>
                    }
                  </p>
                </div>
                <div class="col-md-8">
                  <label for="expirationDate" class="py-2">Expiration date</label>
                  <p class="form-control">
                    <input
                      type="number"
                      class="border-0"
                      placeholder="MM / "
                      style="width: 45px"
                      formControlName="expirationMonth"
                      min="1"
                      max="12"
                      (input)="limitExpirationMonth()"
                    />
                    {{ paymentForm.controls['expirationMonth'].value ? '/' : '' }}
                    <input
                      type="number"
                      min="{{ currentYear }}"
                      placeholder="YY"
                      class="border-0"
                      formControlName="expirationYear"
                      (input)="limitExpirationYear()"
                    />
                  </p>
                  <p class="text-danger pt-1">
                    @if (
                      (paymentForm.controls['expirationMonth'].hasError('required') &&
                        paymentForm.controls['expirationMonth'].touched) ||
                      (paymentForm.controls['expirationYear'].hasError('required') &&
                        paymentForm.controls['expirationYear'].touched)
                    ) {
                      Il campo è richiesto.
                    } @else if (
                      paymentForm.controls['expirationMonth'].hasError('min') &&
                      paymentForm.controls['expirationMonth'].dirty
                    ) {
                      Mese minimo : 01
                    } @else if (
                      paymentForm.controls['expirationYear'].hasError('min') &&
                      paymentForm.controls['expirationYear'].dirty
                    ) {
                      Anno minimo : {{ currentYear }}
                    } @else if (
                      paymentForm.controls['expirationMonth'].hasError('max') &&
                      paymentForm.controls['expirationMonth'].dirty
                    ) {
                      Mese massimo : 12
                    } @else if (
                      (paymentForm.controls['expirationMonth'].hasError('maxlength') &&
                        paymentForm.controls['expirationMonth'].dirty) ||
                      (paymentForm.controls['expirationYear'].hasError('maxlength') &&
                        paymentForm.controls['expirationYear'].dirty)
                    ) {
                      Massimo 2 valori numerici sia per mese che per anno
                    } @else if (
                      paymentForm.controls['expirationMonth'].valid &&
                      paymentForm.controls['expirationYear'].valid
                    ) {
                      <p class="text-success">Campo corretto</p>
                    }
                  </p>
                </div>
                <div class="col-md-4">
                  <label for="securityCode" class="py-2">Security code (CVV)</label>
                  <input
                    type="password"
                    formControlName="securityCode"
                    placeholder="XXX"
                    class="form-control"
                    maxlength="3"
                  />
                  <p class="text-danger pt-1">
                    @if (
                      paymentForm.controls['securityCode'].hasError('required') &&
                      paymentForm.controls['securityCode'].touched
                    ) {
                      Il campo è richiesto.
                    } @else if (
                      paymentForm.controls['securityCode'].hasError('min') &&
                      paymentForm.controls['securityCode'].dirty
                    ) {
                      Lunghezza minima 3 cifre
                    } @else if (
                      paymentForm.controls['securityCode'].hasError('max') &&
                      paymentForm.controls['securityCode'].dirty
                    ) {
                      Inserisci massimo 3 cifre
                    } @else if (
                      paymentForm.controls['securityCode'].hasError('pattern') &&
                      paymentForm.controls['securityCode'].dirty
                    ) {
                      Inserisci solo numeri
                    } @else if (paymentForm.controls['securityCode'].valid) {
                      <p class="text-success">Campo corretto</p>
                    }
                  </p>
                </div>
                <div class="col-md-12">
                  <label for="cardHolder" class="py-2">Card holder name</label>
                  <input
                    type="string"
                    formControlName="cardHolder"
                    placeholder="Mario Rossi"
                    class="form-control"
                  />
                  <p class="text-danger pt-1">
                    @if (
                      paymentForm.controls['cardHolder'].hasError('required') &&
                      paymentForm.controls['cardHolder'].touched
                    ) {
                      Il campo è richiesto.
                    } @else if (
                      paymentForm.controls['cardHolder'].hasError('pattern') &&
                      paymentForm.controls['cardHolder'].touched
                    ) {
                      Inserisci nome e cognome separati da uno spazio.
                    } @else if (paymentForm.controls['cardHolder'].valid) {
                      <p class="text-success">Campo corretto</p>
                    }
                  </p>
                </div>
                <div class="col-12 text-left py-5">
                  <button
                    class="btn btn-danger"
                    pTooltip="Add"
                    [disabled]="paymentForm.invalid"
                    (click)="pay()"
                  >
                    <i class="pi pi-plus"></i> Add payment method
                  </button>
                </div>
                <div class="col-12">
                  *** If you chose a free plan, we never take money from your payment method at any
                  time. If you chose a non-free plan we process the transaction after the
                  subscription, and the renewal is not automatic.
                </div>
                @if (paymentIsLoading) {
                  <div class="spinner-border m-auto my-5" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                } @else {
                  <div class="col-12 pt-4">
                    @if (paymentAccepted) {
                      <p class="text-right text-success fw-bold">
                        ✅ Payment method accepted
                        <span class="mx-5">
                          <button
                            class="btn btn-secondary"
                            (click)="
                              paymentMethod = null;
                              paymentAccepted = false;
                              paymentForm.reset();
                              paymentSubmitted = false
                            "
                          >
                            Remove method
                          </button></span
                        >
                      </p>
                    } @else if (!paymentAccepted && paymentSubmitted) {
                      <p class="text-right text-danger fw-bold">❌ Payment method refused</p>
                    }
                  </div>
                }
              </form>
            </div>
          </div>
        </div>
      </div>
    }
  } @else if (showSpinner) {
    <div class="col-md-12 py-5 my-5 m-auto text-center">
      <div class="spinner-border text-primary m-auto" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else if (section == 'access-code' && !showSpinner) {
    <p class="h2 w-75 m-auto py-5 text-center my-5">
      {{ registredCompany?.nomeAzienda }}, inserisci il codice che ti abbiamo mandato per mail!
    </p>
    <div class="flex justify-center border-0 my-5">
      <p-inputotp [(ngModel)]="value" size="large" class="m-auto d-flex justify-content-center" [length]="6" />
    </div>
    @if (value.length == 6) {
      <div class="py-4 text-center m-auto">
        <button class="btn" [ngClass]="isDark?'dark-btn-signup':'light-btn-signup'" (click)="verifyCode(value)">Verifica codice</button>
      </div>
    }
  }

  <div class="w-75 m-auto text-center py-4 d-flex flex-column gap-1 mt-4">
    @if (section != 'access-code') {
      @if (step > 1) {
        <button
          class="btn btn-light w-50 m-auto p-2 fs-5"
          (click)="step -= 1"
          pTooltip="Back"
          tooltipPosition="left"
        >
          Indietro
        </button>
        <br />
      }
      @if (step == 1) {
        <button
          class="btn m-1 w-50 m-auto p-2 fs-5"
          [ngClass]="isDark ? 'dark-btn-signup' : 'light-btn-signup'"
          (click)="step += 1"
          [disabled]="signupForm.invalid || passwordMismatch()"
          pTooltip="Forward"
        >
          Avanti
        </button>
      } @else if (step == 2) {
        <button
          class="btn w-50 m-auto m-1 p-2 fs-5"
          (click)="step += 1"
          [ngClass]="isDark ? 'dark-btn-signup' : 'light-btn-signup'"
          [disabled]="!choosedPlan || (!chosedDays && choosedPlan.id != 1)"
          pTooltip="Forward"
        >
          Avanti
        </button>
      }
      @if (step == 3) {
        <button
          class="btn w-50 m-auto m-1 p-2 fs-5"
          (click)="signup()"
          [disabled]="
            signupForm.invalid ||
            passwordMismatch() ||
            !choosedPlan ||
            (!chosedDays && choosedPlan.id != 1) ||
            !paymentMethod
          "
          [ngClass]="isDark ? 'dark-btn-signup' : 'light-btn-signup'"
          pTooltip="Register"
        >
          Signup
        </button>
      }
    }
    <hr />
    <p>or</p>
  </div>
  <div class="w-75 m-auto py-4 text-center">
    <button
      class="btn w-50 m-auto p-2 fs-5"
      [ngClass]="isDark ? 'dark-btn-login' : 'light-btn-login'"
      (click)="goToLogin()"
      pTooltip="Go to signin"
    >
      Login
    </button>
  </div>
</div>
