.choosed-border {
  border: 3px solid gold;
  box-shadow: 1px 1px 5px 5px gold !important;
}
.border-0 {
  outline: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  background: white; /* Firefox */
  color: black !important;
}

::ng-deep.p-inputtext {
  background: #fff !important;
  color: black !important;
}
.section-dark {
  background-color: #474849 !important;
  .form-control,
  .form-select,
  .form-check-input {
    font-weight: bold;
    background: none !important;
  }
  .form-control,
  .form-select {
    border: 0px !important;
    border-bottom: 1px solid black !important;
  }
  button {
    font-weight: 600 !important;
    color: red !important;
  }
  .form-control,
  .form-select {
    background-color: gray;
  }
}
.light-signup {
  background: beige 40%;
  color: brown;
  border-color: brown !important;
  button {
    font-weight: 600 !important;
    color: brown !important;
  }
}

.section {
  margin: 5%;
  label {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.title {
  font-size: clamp(3.4rem, 5vw, 5vw);
  line-height: 1.1;
}
.light-bg-section {
  background: rgb(236, 236, 217);
}
.text-danger {
  padding-top: 15px !important;
}
