<div class="row">
  <div class="col-12">
    <p class="h2 fw-bold">Access the platform</p>
    @if (section=='login' && !isLoginLoading) {
    <form [formGroup]="loginForm" class="m-auto py-5 w-75 row text-start">
      <label class="fw-bold">Seleziona il tipo</label>
      @for (item of types; track $index) {
      <div class="form-check mx-3">
        <input
          class="form-check-input"
          type="radio"
          formControlName="type"
          name="type"
          [value]="item"
          id="radioDefault{{ $index }}"
          (change)="type = loginForm.controls['type'].value"
        />
        <label class="form-check-label" for="radioDefault{{ $index }}"> {{ item }} </label>
      </div>
      } @if (loginForm.controls['type'].hasError('required')) {
      <p class="text-danger">Scegli il tipo. E' obbligatorio.</p>
      }
      <label for="Email" class="py-3 fw-bold">Email</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          aria-describedby="basic-addon1"
          formControlName="email"
        />
      </div>
      <label for="Password" class="py-3 fw-bold">Password</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="pi pi-key"></i></span>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="basic-addon1"
          formControlName="password"
        />
      </div>
    </form>
    }@else if(section == 'access-code' && !isLoginLoading){
    <div class="py-5">
      <label>Choose a type</label>
      <select name="type" id="type" class="form-select w-75 m-auto">
        @for (item of types; track $index) {
        <option value="{{ item }}">{{ item }}</option>
        }
      </select>
    </div>
    <p class="h2">Inserisci il codice che ti abbiamo mandato per mail!</p>
    <div class="card flex justify-center border-0 bg-light">
      <p-inputotp [(ngModel)]="value" size="large" class="m-auto" [length]="6" />
    </div>
    @if (value.length == 6) {
    <div class="py-4 text-center m-auto">
      <button class="btn" (click)="verifyCode(value)">Verifica codice</button>
    </div>
    } }@else if(isLoginLoading){
    <div class="row m-auto w-75 py-5 my-5">
      <div class="spinner-border text-primary m-auto" role="status"></div>
      <p class="text-primary text-center pt-4">Loading...</p>
    </div>
    }
    <button
      class="btn btn-primary shadow-sm my-5 m-1"
      pTooltip="Signin"
      (click)="section == 'login' ? login() : (section = 'login')"
    >
      Access
    </button>
    <button
      class="btn m-1 my-5"
      (click)="section == 'login' ? (section = 'access-code') : verifyCode(value)"
    >
      Insert access code
    </button>
    <hr class="w-50 m-auto" />
    <p class="h5 pt-5 pb-3">or</p>
    <button
      class="btn btn-outline-warning shadow-sm"
      pTooltip="Go to signup"
      (click)="goToSignup()"
    >
      Register
    </button>
  </div>
</div>
