<div class="text-end px-5">
  <p class="btn" pTooltip="Signup" (click)="goToSignup()">
    Don't have an account <i class="pi pi-arrow-up-right"></i>
  </p>
</div>
<div class="d-flex justify-content-center align-items-center position-relative cloud">
  <div class="background position-absolute top-0 start-0 h-100 w-100"></div>
  <div class="pb-5 text-center z-index">
    <div class="positon-relative title-container">
      <p class="title position-relative py-3">Welcome back.</p>
    </div>
    @if (section == 'login' && !isLoginLoading) {
      <form [formGroup]="loginForm" class="m-auto py-5 my-4 row text-center">
        <div class="d-flex gap-3 align-items-center justify-content-center pt-3 type-container">
          @for (item of types; track $index) {
            <p
              class="fs-2 text-center option p-3"
              [ngClass]="
                type == item ? (isDark ? ['selected-dark-button'] : ['selected-light-button']) : ''
              "
              (click)="type = item"
            >
              {{ item }} login
            </p>
          }
        </div>
        <div [ngStyle]="type == '' ? { visibility: 'hidden' } : {}">
          <div
            class="border-bottom m-auto fake-input rounded border-secondary d-flex align-items-center justify-content-center mt-5"
          >
            <span class="fs-3 email px-3 fw-bold">Email </span>
            <input
              type="text"
              class="form-control w-75 border-0 bg-transparent outline-0"
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <div
            class="border-bottom m-auto fake-input rounded border-secondary d-flex align-items-center justify-content-center mt-5"
          >
            <span class="fs-3 email px-3 fw-bold">Password </span>
            <input
              type="password"
              class="form-control border-0 bg-transparent outline-0"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div
            class="border-bottom m-auto fake-input rounded border-secondary d-flex align-items-center justify-content-center mt-5"
            [ngStyle]="type && type == 'user' ? {} : { visibility: 'hidden' }"
          >
            <span class="fs-3 email px-3 fw-bold">Code</span>
            <input
              type="text"
              class="form-control border-0 bg-transparent outline-0"
              placeholder="Access code"
              formControlName="accessCode"
            />
          </div>
        </div>
        @if (loginForm.valid && type && type != '') {
          <button
            (click)="login()"
            class="bg-transparent px-5 p-2 w-auto m-auto mt-5 fw-bold text-uppercase"
            [ngClass]="isDark ? ['selected-dark-button'] : ['selected-light-button']"
          >
            Login
          </button>
        }
      </form>
    } @else if (section == 'access-code' && type == 'company' && !isLoginLoading) {
      <div class="py-5 my-5">
        <p class="h2">
          Insert the access code. <br />
          @if (!alreadyCode) {
            We've sent one to your email address.
          }
        </p>
        <div class="card bg-transparent flex justify-center border-0 py-3">
          <p-inputotp [(ngModel)]="value" size="large" class="m-auto" [length]="6" />
        </div>
      </div>

      @if (value.length == 6) {
        <div class="py-4 text-center m-auto">
          <button class="btn" (click)="verifyCode(value)">Verifica codice</button>
        </div>
      }
    } @else if (isLoginLoading) {
      <div class="row m-auto w-75 py-5 my-5">
        <div
          class="spinner-border m-auto"
          role="status"
          [ngClass]="isDark ? 'text-danger' : 'text-success'"
        ></div>
        <p class="text-center pt-4" [ngClass]="isDark ? 'text-danger' : 'text-success'">
          Loading...
        </p>
      </div>
    }
  </div>
</div>
<div class="text-center" [ngStyle]="type == '' ? { visibility: 'hidden' } : {}">
  @if (section == 'login' && type != 'user') {
    <p
      class="btn p-0"
      pTooltip="Insert code"
      (click)="
        section == 'login' ? (section = 'access-code') : verifyCode(value); alreadyCode = true
      "
    >
      Already have a code <i class="pi pi-pencil"></i>
    </p>
  } @else {
    @if (type != 'user') {
      <p pTooltip="Signin" (click)="section == 'login' ? login() : (section = 'login');alreadyCode = false;" class="btn">
        <i class="pi pi-arrow-up-left pe-2"></i>Back to signin
      </p>
    }
  }
</div>
<div class="py-3"></div>
<div class="py-3"></div>
<div class="py-5 my-5"></div>
