<div class="row">
  <div class="col-1 text-start">
    <button
      class="btn btn-outline-primary m-3"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <i class="pi pi-bars fs-3"></i><br />
      Menù
    </button>
  </div>
  <div class="col-11">
    <router-outlet />
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <div class="d-flex justify-content-center align-items-center">
      <img
        src="/assets/logo/logo.png"
        width="80"
        height="80"
        class="d-inline-block align-top mx-2"
        alt=""
      />
      <h5 class="offcanvas-title mx-1" id="offcanvasExampleLabel">TaskMaster</h5>
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      #closeButton
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <ul class="my-5">
      @for(v of menuVoices; track v){
      <li>
        <button
          class="btn text-start"
          [ngClass]="v == 'Elimina profilo' ? 'text-danger fw-bold' : ''"
          (click)="next(v); closeButton.click()"
        >
          {{ v }}
        </button>
      </li>
      }
    </ul>
  </div>
</div>
