.light-app {
  background: beige 40%;
  color: brown;
  border-color: brown !important;
  button {
    font-weight: 600 !important;
    color: brown !important;
  }
}
.position-absolute {
  left: 80%;
  top: -500px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  filter: blur(90px);
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
}

.app-dark{
  background-color: #353739 ;
}