.light-app {
  color: brown;
  min-height: 100% !important;
  border-color: brown !important;
  button {
    font-weight: 600 !important;
    color: brown !important;
  }
}

.app-dark {
  min-height: 100% !important;
}

::ng-deep.personal-box{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  max-width: 500px;
}