.w-100 {
  .active{
    font-weight: bold!important;
  }
}

.text-brown{
  color: brown;
}
.dark-navbar{
  border-color: #2b2a2a!important;
  button{
    color:black!important;
  }
}
.light-navbar{
  background-color: beige;
  color: brown;
  border-color: brown!important;
  button{
    color:brown!important;
  }
}