<nav
  class="navbar navbar-expand-lg border-secondary sticky-top z-6 p-5"
  [ngClass]="isDark ? '' : 'light-navbar'"
>
  <div class="container d-flex justify-content-between">
    <!-- Brand -->
    @if (isLoggedIn) {
      <div class="d-flex justify-content-between w-100">
        <div class="w-75 text-center">
          <div class="position-relative">
            <p class="fs-2" [ngClass]="isDark ? 'text-danger' : 'text-success'">
              Succeed
              <i
                class="pi toggle-i"
                (click)="toggleMenu()"
                [ngClass]="showMenu ? 'pi-chevron-up' : 'pi-chevron-down'"
              ></i>
            </p>
            <div class="position-absolute menu">
              @for (v of menuVoices; track v.id) {
                <p class="fs-3">{{ v.value }}</p>
              }
            </div>
          </div>
        </div>
        <button class="btn" type="button" (click)="toggleMode()">
          @if (isDark) {
            <i class="pi pi-sun fs-3 text-danger" pTooltip="Light mode"></i>
          } @else {
            <i class="pi pi-moon fs-3 text-success" pTooltip="Dark mode"></i>
          }
        </button>
      </div>
    }
  </div>
</nav>
<p-toast />
