.dark-footer {
  background-color: #212529;
  color: black;
  border-color: rgb(139, 139, 139) !important;
  font-weight: 800 !important;
  button {
    color: black !important;
    font-weight: 800 !important;
  }
}
.light-footer {
  background-color: beige;
  color: brown;
  border-color: brown !important;
  button {
    color: brown !important;
  }
}
