<div class="container text-center py-5">
  <p-toast></p-toast>
  <div class="row py-5">
    <div class="col-12 py-5 text-uppercase">
      <h2>Take care of your team.</h2>
    </div>
    @if (!addSomeone) {
      <div class="text-end pt-5 col-12">
        <button class="btn btn-primary my-5" (click)="manageAdd()">+ Add someone</button>
      </div>
      <div class="col-lg-3 py-5" [ngClass]="users?.content?.length === 0 ? 'd-none' : ''">
        <form [formGroup]="searchUsersForm" class="d-flex m-auto">
          <input
            type="text"
            class="form-control text-end"
            formControlName="search"
            placeholder="Search between your team..."
          />
        </form>
      </div>
      <div class="col-lg-3" [ngClass]="users?.content?.length === 0 ? '' : 'd-none'"></div>
      <div class="col-lg-9 py-5 my-5">
        <div class="row py-5">
          @for (item of users?.content; track $index) {
            <div class="col-md-4 p-3 m-auto">
              <div class="w-100 position-relative rounded p-2 shadow" [style.minHeight]="'318px'">
                <div
                  class="card-img-top d-flex justify-content-center rounded-circle align-items-center fs-2 bg-light m-auto"
                  [style.height]="'100px'"
                  [style.width]="'100px'"
                >
                  {{ getInitials(item) }}
                </div>
                <div class="pt-4">
                  <h5 class="card-title">{{ item.nome + ' ' + item.cognome }}</h5>
                  <p class="card-text">
                    {{ item.email }}
                    <br />
                    created at: {{ item.createdAt | date: ' dd-MM-yyyy' }}
                  </p>
                  <div class="dropdown position-absolute bottom-0 end-0 p-2">
                    <button
                      class="btn btn-primary dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      ...
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button">Edit</button></li>
                      <li><button class="dropdown-item" type="button">Block</button></li>
                      <li>
                        <button class="dropdown-item text-danger" type="button">Delete</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="row py-5">
        <div class="w-75 m-auto p-3 bg-white border shadow rounded">
          <p class="text-end">
            <button
              class="btn btn-outline-danger"
              pTooltip="Leave"
              (click)="addForm.reset(); accessCode = ''; addSomeone = false"
            >
              <i class="pi pi-trash"></i>
            </button>
          </p>
          <form [formGroup]="addForm" class="row">
            <div class="col-md-6">
              <label for="email" class="p-3">Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="type the email .."
              />
              <p class="text-danger">
                @if (
                  addForm.controls['email'].hasError('required') &&
                  addForm.controls['email'].touched
                ) {
                  Campo obbligatorio
                } @else if (
                  addForm.controls['email'].hasError('pattern') && addForm.controls['email'].touched
                ) {
                  Inserisci una email valida : example@valid.it
                }
              </p>
            </div>
            <div class="col-md-6">
              <label for="password" class="p-3">Password</label>
              <input
                type="text"
                class="form-control"
                formControlName="password"
                placeholder="type the password .."
              />
              <p class="text-danger">
                @if (
                  addForm.controls['password'].hasError('required') &&
                  addForm.controls['password'].touched
                ) {
                  Campo obbligatorio
                } @else if (
                  addForm.controls['password'].hasError('pattern') &&
                  addForm.controls['password'].touched
                ) {
                  Inserisci una password valida : Password1@
                }
              </p>
            </div>
            <div class="col-md-6">
              <label for="nome" class="p-3">Nome</label>
              <input
                type="text"
                class="form-control"
                formControlName="nome"
                placeholder="type the name .."
              />
              <p class="text-danger">
                @if (
                  addForm.controls['nome'].hasError('required') && addForm.controls['nome'].touched
                ) {
                  Campo obbligatorio
                }
              </p>
            </div>
            <div class="col-md-6">
              <label for="cognome" class="p-3">Cognome</label>
              <input
                type="text"
                class="form-control"
                formControlName="cognome"
                placeholder="type the surname .."
              />
              <p class="text-danger">
                @if (
                  addForm.controls['cognome'].hasError('required') &&
                  addForm.controls['cognome'].touched
                ) {
                  Campo obbligatorio
                }
              </p>
            </div>
            <div class="col-md-12 p-4 text-center">
              <button
                class="btn-primary btn"
                [disabled]="addForm.invalid"
                type="button"
                (click)="add()"
              >
                Add
              </button>
            </div>
            @if (accessCode) {
              <div class="col-12 p-2">
                <span class="fw-bold me-3 py-2">Il codice di accesso è :</span>
                <span class="fs-4 py-2">{{ accessCode }}</span>
                <p class="text-danger pt-3">
                  Copialo subito e invialo al membro del tuo team per non perderlo. In alternativa,
                  puoi cancellare lo user e ricrearlo.
                </p>
              </div>
            }
          </form>
        </div>
      </div>
    }
  </div>
</div>
