label {
  color: rgb(2, 2, 150);
  font-size: 16px;
}
.overflow-scroll {
  max-height: 700px;
}
td,
th {
  padding: 1.5%;
}

.dark-profile{
  background: #474849;
  label{
    color:black;
    font-size: 22px;
  }
  p{
    font-size: 18px!important;
    font-weight: bold;
  }
}
.light-profile{
  background: rgb(236, 236, 217)!important;
  label{
    color:brown;
    font-size: 22px;
  }
  p{
    font-size: 18px!important;
    font-weight: bold;
  }
}