<div class="row py-5 px-3 my-5 d-flex align-items-stretch">
  @if (user) {
  } @else {
    <div class="col-12 overflow-auto p-3">
      <div class="row" [style.height]="'100%'">
        <div class="col-md-12 py-5 fw-bold text-muted text-uppercase text-center rounded-top title">
          <h4 class="w-75 m-auto">
            <i class="pi pi-lightbulb fs-4 fw-bold text-warning"></i> You must have a project,
            otherwise someone else has one for you. And guess what? Not so much is in that project.
          </h4>
        </div>
        <div class="col-md-12 px-3">
          <div class="text-end">
            <button class="btn btn-primary my-5" (click)="switchToAddMode()">+ Add project</button>
          </div>
        </div>
        @for (state of states; track state) {
          <div class="col-md-3 text-center">
            <label [ngClass]="stateSelected == state ? 'border-bottom' : 'text-muted'">
              <button
                class="btn"
                [ngClass]="stateSelected == state ? ['text-primary', 'fw-bold'] : 'text-muted'"
                (click)="stateSelected = state"
              >
                {{ state }}
              </button>
            </label>
          </div>
        }

        @if (!addMode()) {
          <div class="col-12 text-muted text-end mt-4 px-3 d-flex justify-content-end">
            <button
              class="btn d-flex align-items-center gap-2"
              (click)="filtersOpened.set(!filtersOpened())"
            >
            <label class="fs-4 text-uppercase text-muted fw-bold">Filters</label>
              
              @if (filtersOpened()) {
                <i class="pi pi-chevron-up fs-4"></i>
              } @else {
                <i class="pi pi-chevron-down fs-4"></i>
              }
            </button>
          </div>
          <div
            class="col-12 overflow-hidden"
            [ngClass]="
              projectsToShow?.content?.length === 0 || !projectsToShow
                ? 'd-none'
                : filtersOpened()
                  ? 'opened-filters'
                  : 'closed-filters'
            "
          >
            <form [formGroup]="searchProjectForm" class="row">
              <div class="col-xl-3 col-md-4 my-5 px-5">
                <div class="input-container">
                  <label class="fw-bold text-uppercase text-muted text-center">Title</label>
                  <input
                    type="text"
                    class="form-control border-0"
                    formControlName="title"
                    [style.maxWidth]="'350px'"
                  />
                </div>
              </div>
              <div class="col-xl-3 col-md-4 my-5 px-5">
                <div class="input-container">
                  <label class="fw-bold text-uppercase text-muted text-center">description</label>
                  <input
                    type="text"
                    class="form-control border-0"
                    formControlName="description"
                    [style.maxWidth]="'350px'"
                  />
                </div>
              </div>
              <div class="col-xl-3 col-md-4 my-5 px-5">
                <div class="input-container">
                  <label class="fw-bold text-uppercase text-muted text-center">manager</label>
                  <input
                    type="text"
                    class="form-control border-0"
                    formControlName="managerId"
                    [style.maxWidth]="'350px'"
                  />
                </div>
              </div>
              <div class="col-xl-3 col-md-4 my-5 px-5">
                <div class="input-container">
                  <label class="fw-bold text-uppercase text-muted text-center">state</label>
                  <select
                    type="text"
                    class="form-select border-0"
                    formControlName="projectState"
                    [style.maxWidth]="'350px'"
                  >
                  <option value=""></option>
                  @for (item of states; track $index) {
                    <option value="{{item}}">{{item}}</option>
                  }
                  </select>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 my-5 px-5">
                <div class="input-container">
                  <label class="fw-bold text-uppercase text-muted text-center">type</label>
                  <select
                    type="text"
                    class="form-select border-0"
                    formControlName="projectType"
                    [style.maxWidth]="'350px'"
                  ><option value=""></option>
                  @for (item of types; track $index) {
                    <option value="{{item.id}}">{{item.tipoProgetto}}</option>
                  }
                  </select>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 my-5 px-5">
                <div class="input-container">
                  <label class="fw-bold text-uppercase text-muted text-center">creation date</label>
                  <input
                    type="date"
                    class="form-control border-0"
                    placeholder=""
                    formControlName="createdAt"
                    [style.maxWidth]="'350px'"
                  />
                </div>
              </div>
            </form>
            <div class="text-end">
              <button class="btn border border-primary px-5 m-1">
                <i class="pi pi-times me-2"></i> Reset
              </button>
              <button class="btn btn-primary px-5 m-1">
                <i class="pi pi-search me-2"></i>Search
              </button>
            </div>
            <hr class="mt-4" />
          </div>
          <div class="col-lg-12 py-5">
            <div class="row">
              @for (item of projectsToShow?.content; track $index) {
                <div class="col-md-4" [style.height]="'fit-content'">
                  <div class="border shadow panel ">
                    <div
                      class="panel_title bg-primary d-flex align-items-center gap-2 text-white p-3 fs-4"
                    >
                      <div><i class="pi pi-briefcase fs-4"></i> {{ item.title }}</div>
                    </div>
                    <div class="panel_body shadow p-3">
                      <div>
                        <span class="fw-bold text-muted text-uppercase">Manager progetto </span
                        ><br />
                        {{ item?.manager?.nome + ' ' + item?.manager?.cognome }}
                      </div>
                      <div>
                        <span class="fw-bold text-muted text-uppercase">Stato </span> <br />{{
                          item?.projectState?.toLocaleUpperCase()
                        }}
                      </div>
                      <div class="border rounded p-2 mt-2 shadow-sm">
                        {{ item?.description }}
                      </div>
                      <div class="text-end pt-2">
                        <label class="fw-bold text-uppercase text-muted">Creato in data</label>
                        {{ item?.createdAt }}
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        } @else {
          <form [formGroup]="addProject">
            <div class="container">
              <div class="row">
                <div class="col-md-6 my-4">
                  <input
                    type="text"
                    placeholder="Title"
                    maxlength="100"
                    formControlName="title"
                    class="form-control"
                  />
                  @if (
                    addProjectFormSubmitted && addProject.controls['title'].hasError('required')
                  ) {
                    <div>
                      <p class="text-danger">Inserisci il titolo</p>
                    </div>
                  } @else if (
                    addProjectFormSubmitted && addProject.controls['title'].hasError('maxLength')
                  ) {
                    <div>
                      <p class="text-danger">Massimo 100 caratteri</p>
                    </div>
                  } @else if (addProjectFormSubmitted) {
                    <div>
                      <p class="text-success">Campo valido</p>
                    </div>
                  }
                </div>
                <div class="col-md-6 my-4">
                  <div class="d-flex align-items-center border-bottom rounded">
                    <input
                      type="text"
                      formControlName="managerId"
                      placeholder="Choose a manager"
                      class="form-control border-bottom-0"
                      (click)="showManagers.set(true)"
                      (input)="showManagers.set(true)"
                    />
                    <div class="d-flex gap-2">
                      @if (addProject.controls['managerId'].value.length > 0) {
                        <i
                          class="pi pi-times"
                          (click)="
                            addProject.controls['managerId'].setValue(''); selectedManager = null
                          "
                        ></i>
                      }
                      @if (!showManagers()) {
                        <i class="pi pi-chevron-down" (click)="showManagers.set(true)"></i>
                      } @else {
                        <i class="pi pi-chevron-up" (click)="showManagers.set(false)"></i>
                      }
                    </div>
                  </div>
                  @if (showManagers()) {
                    <div class="position-relative bg-white">
                      <div
                        class="position-absolute overflow-auto top-0 bg-white border w-100 p-1 rounded shadow"
                        [style.maxHeight]="'500px'"
                      >
                        @for (item of filteredUsers; track $index) {
                          <div (click)="chooseManager(item)">
                            {{ item.nome + ' ' + item.cognome }}
                          </div>
                        } @empty {
                          <div>No managers ...</div>
                        }
                      </div>
                    </div>
                  }
                  @if (
                    addProjectFormSubmitted && addProject.controls['managerId'].hasError('required')
                  ) {
                    <div>
                      <p class="text-danger">Scegli il manager per questo progetto</p>
                    </div>
                  } @else if (addProjectFormSubmitted) {
                    <div>
                      <p class="text-success">Campo valido</p>
                    </div>
                  }
                </div>
                <div class="col-md-6 my-4">
                  <div class="d-flex align-items-center border-bottom rounded">
                    <select type="text" formControlName="typeId" class="form-select">
                      <option value="" selected disabled>Choose a type</option>
                      @for (item of types; track $index) {
                        <option [value]="item.id">{{ item.tipoProgetto }}</option>
                      }
                    </select>
                  </div>

                  @if (
                    addProjectFormSubmitted && addProject.controls['typeId'].hasError('required')
                  ) {
                    <div>
                      <p class="text-danger">Inserisci il tipo</p>
                    </div>
                  } @else if (addProjectFormSubmitted) {
                    <div>
                      <p class="text-success">Campo valido</p>
                    </div>
                  }
                </div>
                <div class="col-md-6 my-4">
                  <div class="d-flex align-items-center border-bottom rounded">
                    <select type="text" formControlName="state" class="form-select">
                      <option value="" selected disabled>Choose a state</option>
                      @for (item of states; track $index) {
                        <option [value]="item">{{ item }}</option>
                      }
                    </select>
                  </div>

                  @if (
                    addProjectFormSubmitted && addProject.controls['state'].hasError('required')
                  ) {
                    <div>
                      <p class="text-danger">Inserisci lo stato</p>
                    </div>
                  } @else if (addProjectFormSubmitted) {
                    <div>
                      <p class="text-success">Campo valido</p>
                    </div>
                  }
                </div>
                <div class="col-md-12 my-4">
                  <textarea
                    placeholder="Description"
                    maxlength="600"
                    rows="5"
                    formControlName="description"
                    class="form-control"
                  >
                  </textarea>
                  @if (
                    addProjectFormSubmitted &&
                    addProject.controls['description'].hasError('required')
                  ) {
                    <div class="col-12">
                      <p class="text-danger">Inserisci la descrizione</p>
                    </div>
                  } @else if (
                    addProjectFormSubmitted &&
                    addProject.controls['description'].hasError('maxLength')
                  ) {
                    <div class="col-12">
                      <p class="text-danger">Massimo 600 caratteri</p>
                    </div>
                  } @else if (addProjectFormSubmitted) {
                    <div class="col-12">
                      <p class="text-success">Campo valido</p>
                    </div>
                  }
                </div>
                <div class="col-12 text-end py-3">
                  <button class="btn btn-primary" (click)="createProject()">
                    <i class="pi pi-plus"></i>
                    Add project
                  </button>
                </div>
              </div>
            </div>
          </form>
        }
      </div>
    </div>
  }
</div>
